<!DOCTYPE html>
<html lang="en" dir="ltr">
<h2>Contact me</h2>
<form action="/contact/send-message" method="POST" enctype="multipart/form-data">
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <input type="file" name="img" accept="image/png image/gif image/jpeg image/jpg">
  <button type="submit">Send message</button>
</form>
{{#if isSent}}
  <div class="isSent">
   The message has been sent!
  </div>
{{/if}}
{{#if isError}}
  <div class="isError">
    You can\'t leave fields empty!
  </div>
{{/if}}
</html>
